/*Importing font*/
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*CSS RESET*/
*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*Class Variables*/
.square{
    width: 18px;
    height: 18px;
    background-color: #0050ff;
}
.small_square{
    width: 13px;
    height: 13px;
    background-color: #0050ff;
}
.blue__button{
    background-color: #0050ff;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 16px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.2s;
    text-align: center;
}
.blue__button:hover{
    outline: 1px solid #0050ff;
    background-color: #FFF;
    color: black;
}
.normal__button{
    background-color: #FFF;
    color: black;
    padding: 0.5rem 1.8rem;
    border-radius: 16px;
    border: 1px solid black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s;
}
.normal__button:hover{
    background-color: #0050ff ;
    color: white;
}
.big_header{
    font-size: 35px;
    letter-spacing: 0.02em;
    font-weight: 900;
}
.small_header{
    font-size: 25px;
    font-weight: 900;
    letter-spacing: normal;
}
/*Navigation Bar*/
header{
    position: sticky;
    top: 0;
    left: 0;
    background: #FFF;
    z-index: 6;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    position: relative;
    z-index: 100;
}
.nav__name{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}
.nav__name h1{
    font-size: 2rem;
}
.nav__name p {
    font-size: 1.2rem;
    margin-top: 0.25rem;
}
.nav__list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.nav__list li {
    list-style: none;
}
.nav__list li a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
    font-size: 1.2rem;
   
}
.nav__list li a:hover{
    color: #0050ff;
}
.burger{
    display: none;
    cursor: pointer;
    position: fixed;
    top: 30px;
    right: 5%;
}
.line{
    height: 3px;
    width: 30px;
    margin: 0.3rem 0;
    background-color: black;
}
/*About Section*/
#about{
    display: flex;
    height: 600px;
}
.box img {
    width: 205px;
    height: 205px;
    border-radius: 50%;
    object-fit: cover;
}
.about__container{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    background: #e6dace;
    position: relative;
}
.about__content{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    position: absolute;
    right: -5%;
}
.box__details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: #f4ece6;
    padding: 2rem 1rem;
    width: 100%;
}
.box__images{
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.8rem;
    gap: 1.5rem;

}
.box__images img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    cursor: pointer;
}
.box__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}
.box__content h1 {
    font-size: 2.5rem;
}
.box__content p {
    font-size: 1.3rem;
    letter-spacing: 0.08em;
    font-weight: 300;
}
.line1{
    height: 2px;
    width: 65px;
    background: blue;
}
.about__content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 4rem;
    gap: 1rem;
}
.about__content-box{
    display: flex;
    flex-direction: column;
}
.about__content-heading{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.about__content-heading h1{
    font-size: 5rem;
    font-weight: bolder;
}
.about__content-heading p {
    font-size: 1.5rem;
    font-weight: 600;
}
.about__content-para{
    padding-right: 11rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.about__content-para p{
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 0.02em;
}
.about__content-button{
    margin: 2rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
/*Resume section*/
#resume{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    background: #e6dace;
    gap: 2rem;
}
.resume_header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}
.resume_experience{
    display: flex;
    justify-content: space-between;
    width: 586px;
}
.resume_container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.resume_boxes{
    background-color: #fff;
    display: flex;
    gap: 5rem;
    padding : 3rem;
}
.resume_boxes-content_heading{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
}
.resume_boxes-content_heading h3{
    color: #0050ff;
}
.resume_boxes-job{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.resume_boxes-content_para{
    max-width: 274px;
    margin-top: 1rem;
}
.resume_boxes-job p:first-child{
    font-size: 1.2rem;
}
.education_container
{
    margin-top: 2rem;
}
.education_container-box{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    margin-top: 2rem;
}
.skillset{
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    padding: 4rem 3rem;
    gap: 2rem;
}
.professional{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.professional-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.professional-content_first{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;

}
.professional-content_first div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.professional-content_first div:nth-child(2)
{   
    margin-left: 1rem;
}
.professional-content_second{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}
.professional-content_second div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.professional-content_second div:nth-child(1)
{
    margin-left: 2.8rem;
}
.languages{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.languages-content{
    display: flex;
    gap: 16.4rem;
    padding-left: 1rem;
}
.languages-content div{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}
/*Contact*/
#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 3rem 2rem 3rem;
    background: #c2efe5;
    gap: 3rem;
}
.contact_header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    background: #FFF;
    padding: 2rem 4rem 3rem 4rem;
}
form label{
    font-weight: 700;
}
form input{
    border: none;
    outline: none;
    border-bottom: 1px solid red;
}
form .name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}
.name-first , .name-second{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.name-first input , .name-second input {
    padding: 0.4rem 1rem;
    text-align: left;
    width: 220px;
}
.email{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 1.5rem;
}
.email input{
    padding: 0.4rem 1rem;
    width: 314px;
}
.message{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 0.3rem;
}
.message input{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    height: 100px;
    width: 314px;
}
.message input:hover{
    border-bottom: 3px solid #0050ff;
}
.form-button{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
/*Footer*/
footer{
    background: #FFF;
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-name{
    font-weight: 300;
}
.footer-info{
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}
.images img {
    width: 25px;
    height: 25px;
    object-fit: cover;
    cursor: pointer;
}
.images a{
    margin: 0 0.3rem;
}
.call , .write , .follow {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    justify-content: center;
    align-items: center;
}
.call p, .write p {
    font-weight: 300;
} 
/*For larger devices*/
@media screen and (min-width:2000px)
{
    .box{
        width: 350px;
    }
    .about__content{
        padding-left: 6rem;
    }
}
/*For smaller pcs*/
@media screen and (max-width:1160px)
{
        #about{
           height: 615px;
        }
        .box{
            width: 250px;
        }
        .box__image img
        {
            width: 170px;
            height: 170px;
        }
        .box__content h1 
        {
            font-size: 2rem;
            text-align: center;
         }
        .box__content p 
        {
            text-align: center;
            font-size: 1.1rem;
        }
        .box__images
        {
            gap: 1rem;
        }
        .about__content-heading h1{
            font-size: 4rem;
        }
        .about__content-heading p {
            font-size: 1.2rem;
        }
        .about__content-para{
            padding-right: 3rem;
        }
        .resume_experience{
            width: 540px;
        }
        .resume_boxes{
            gap: 3rem;
        }
        .footer-info{
            width: 56%;
        }
}
/*for Phablets*/
@media screen and (max-width:782px)
{
    .burger{
        display: block;
    }
    .burger.active .line:nth-child(2)
    {
        opacity: 0;
    }
    .burger.active .line:nth-child(1)
    {
        transform: translateY(7px) rotate(45deg);
    }
    .burger.active .line:nth-child(3)
    {
        transform: translateY(-8px) rotate(-45deg);
    }
    nav{
        padding: 2rem;
    }
    .nav__name h1{
        font-size: 1.5rem;
    }
    .nav__name p {
        font-size: 1rem;
    }
    nav.active{
        height: 100vh;
        background: #f4ece6;
        justify-content: center;
        align-items: center;

    }
    .nav__name.active{
        display: none;
    }
    .nav__list
    {
            display: flex;
            flex-direction: column;
            width: 100%;
            position: absolute;
            top: 40%;
            left: -100%;
            transition: 0.3s ease;
    }
    .nav__list.active{
        left: 0;
    }
    .nav__list li a {
        font-size: 2rem;
    }
    .nav__list{
        gap: 3rem;
    }
    #about{
        flex-direction: column;
        background: #e6dace;
        position: relative;
        justify-content: flex-end;
        height: 760px;
    }
    .box{
        width: 270px;
    }
    .about__container {
        width: auto;
        position: absolute;
        
            top: 187px;
            left: 548px;
    }
    .about__content{
        width: auto;
        background: #e6dace;
        padding: 2rem 3rem;
        height: 48vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .resume_boxes{
        flex-direction: column;
        gap: 0.6rem;
        padding: 3rem;
    }
    .resume_experience{
        width: 380px;
    }
    .professional-content{
        flex-direction: column;
        align-items: flex-start;
    }
    .professional-content_second{
        align-items: flex-start;
    }
    .professional-content_second div:nth-child(1) ,.professional-content_second div:nth-child(2) {
        margin-left: 8px;
    }
    .languages-content {
        gap: 2rem;
        padding-left: 1rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    footer{
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
    }
    .footer-info{
        width: 100%;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .images a{
        margin : 0 0.2rem;
    }
    form{
        align-items: flex-start;
        padding : 2rem 3rem 3rem 3rem;
    }
    form .name{
        flex-direction: column;
    }
    .email input{
        width: 221px;
    }
    .message input{
        width: 221px;
    }
}
/*For phones*/
@media screen and (max-width:560px)
{
    .nav__name{
        gap: 0.2rem;
    }
    #about{
        height: 800px;
    }
    .about__container {
            left: 80%;
            right: 26%;
    }
    .about__content-box {
        margin-top: 3rem;
    }
    #resume{
        padding: 2rem 4rem 4rem 4rem;
    }
    .box__image img {
        width: 150px;
        height: 150px;
    }
    footer{
        padding: 2rem;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 3rem;
    }
    .images a {
        margin: 0;
    }
    .resume_experience{
        width: 340px;
    }
    .about__content-para p {
        font-size: 1rem;
    }
    .resume_boxes{
        padding: 1.3rem;
        gap: 0.5rem;
    }
    .big_header{
        font-size: 30px;
    }
    .about__content-heading h1 {
        font-size: 3rem;
    }
    .blue__button{
        padding: 0.5rem 1rem;
    }
    .normal__button{
        padding: 0.5rem 1rem;
    }
    .skillset{
        padding: 3rem 1rem;
    }
}
/*For extra smaller phones*/
@media screen and (max-width:376px)
{
    .about__content-para p {
        font-size: 0.9rem;
    }
    #resume {
        padding: 2rem 4rem 4rem 4rem;
    }
    .about__content-heading h1 {
        font-size: 2.5rem;
    }
}